.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1em;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: pink;
}

.card input[type='checkbox'] {
    margin-right: 1rem;
}

.card-text {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}
