/* DialogBox.css */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    outline: none;
}

.dialog-box {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 400px;
}

.rating-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    outline: none;
}

.rating-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}

.rating-button.selected {
    box-shadow: 0 0 0 3px lightgray;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.cancel-button,
.ok-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
}
