:root {
    --topDiv-padding: 1rem 2rem;
    --backButton-font-size: 1.25rem;
    --tasksText-font-size: 1rem;
    --brandName-font-size: 1.5rem;
}
.App2{
    min-height: 100vh;
    max-width: 100%;
    background-color: red;
}
#topDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: var(--topDiv-padding);
}

#leftSide {
    display: flex;
    align-items: center;
}

#backButton {
    border: none;
    background-color: transparent;
    font-size: var(--backButton-font-size);
    cursor: pointer;
}

#tasksText {
    margin-left: 0.5rem;
    font-size: var(--tasksText-font-size);
    text-align: left;
}
#otherStuff{
    max-width: 30em;
    min-height: 10em;
    margin-left: 3em;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#brandName {
    font-size: var(--brandName-font-size);
    font-weight: bold;
    flex: 1;
    text-align: center;
}

/* Responsive design */
@media (max-width: 480px) {
    :root {
        --topDiv-padding: 0.5rem 1rem;
        --backButton-font-size: 1rem;
        --tasksText-font-size: 0.8rem;
        --brandName-font-size: 1.25rem;
    }
}
